
<mat-drawer-container hasBackdrop="true">
    <mat-drawer #drawer mode="over">
        <p *ngFor="let route of routes">
            <button class="drawerButton" (click)="drawer.toggle()" [routerLink]="route.path" mat-raised-button>{{route.data.title}}</button>
        </p>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <button (click)="drawer.toggle()" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <span>Gruppo 2</span>
            <h1></h1>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>