<button routerLink="../" (click)="logout()" style="width: 100%;" mat-button>Logout</button>
<mat-tab-group mat-align-tabs="center">
<mat-tab label="Inserimento">
<p>
    <mat-card>
        <mat-card-title>Palazzo</mat-card-title>
        <mat-card-content>
            <form enctype="multipart/form-data" #palazzo="ngForm" (ngSubmit)="postTable(palazzo)">
                <mat-form-field appearance="fill">
                  <mat-label>N Palazzo</mat-label>
                  <input ngModel="" class="example-right-align" type="number" name="n_palazzo" matInput required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Piano</mat-label>
                  <input ngModel="" class="example-right-align" type="number" name="piano" matInput required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>N Appartamenti</mat-label>
                  <input ngModel="" class="example-right-align" type="number" name="n_appartamenti" matInput required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Indirizzo</mat-label>
                  <input ngModel="" name="indirizzo" matInput required>
                  <input ngModel="true" name="palazzo" hidden>
                </mat-form-field>
                <p>
                    <button mat-raised-button type="submit">Invio</button>
                </p>
            </form>
        </mat-card-content>    
    </mat-card>
</p>
<p *ngIf="palazzoList.length>0">
    <mat-card>
        <mat-card-title>Appartamento</mat-card-title>
        <mat-card-content>
            <form enctype="multipart/form-data" #appartamento="ngForm" (ngSubmit)="postTable(appartamento)">
                <mat-form-field appearance="fill">
                  <mat-label>Codice Palazzo</mat-label>
                  <mat-select ngModel="" name="codice_palazzo">
                    <mat-option *ngFor="let codice of codice_palazzo" [value]="codice" [textContent]="codice"></mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Codice Appartamento</mat-label>
                  <input ngModel="" class="example-right-align" type="number" name="codice_appartamento" matInput required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>N Locale</mat-label>
                  <input ngModel="" class="example-right-align" type="number" name="n_locale" matInput required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>N Sala</mat-label>
                  <input ngModel="" class="example-right-align" type="number" name="n_sala" matInput required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Metratura</mat-label>
                  <input ngModel="" class="example-right-align" type="number" name="metratura" matInput required>
                  <mat-icon matSuffix>home</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Costo</mat-label>
                  <input class="example-right-align" ngModel="" type="number" name="costo" placeholder="0" matInput required>
                  <span matPrefix>€&nbsp;</span>
                  <input ngModel="true" name="appartamento" hidden>
                </mat-form-field>
                <p>
                    <button mat-raised-button type="submit">Invio</button>
                </p>
            </form>
        </mat-card-content>
    </mat-card>
</p>

<p *ngIf="appartamentoList.length>0">
    <mat-card>
        <mat-card-title>Amministratore</mat-card-title>
        <mat-card-content>
            <form enctype="multipart/form-data" #amminstratore="ngForm" (ngSubmit)="postTable(amminstratore)">
                <mat-form-field appearance="fill">
                  <mat-label>Codice Fiscale</mat-label>
                  <input ngModel="" name="CF" matInput required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Codice Appartamento</mat-label>
                  <mat-select ngModel="" name="codice_appartamento">
                    <mat-option *ngFor="let codice of codice_appartamento" [value]="codice" [textContent]="codice"></mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Nome</mat-label>
                  <input ngModel="" name="nome" matInput required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Cognome</mat-label>
                  <input ngModel="" name="cognome" matInput required>
                  <input ngModel="true" name="amministratore" hidden>
                </mat-form-field>
                <p>
                    <button mat-raised-button type="submit">Invio</button>
                </p>
            </form>
        </mat-card-content>
    </mat-card>
</p>
<p>
  <mat-card>
      <mat-card-title>Cliente</mat-card-title>
      
      <mat-card-content>
          <form enctype="multipart/form-data" #cliente="ngForm" (ngSubmit)="postTable(cliente)">
              <mat-form-field appearance="fill">
                <mat-label>Codice Fiscale</mat-label>
                <input ngModel="" name="CF_cliente" matInput required>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input ngModel="" type="text" class="example-right-align" name="nome" matInput required>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Cognome</mat-label>
                <input ngModel="" type="text" class="example-right-align" name="cognome" matInput required>
                <input ngModel="true" name="cliente" hidden>
              </mat-form-field>
              <p>
                  <button mat-raised-button type="submit">Invio</button>
              </p>
          </form>
      </mat-card-content>
  </mat-card>
</p>
<p *ngIf="amministratoreList.length>0 && clienteList.length>0">
    <mat-card>
        <mat-card-title>Contratto</mat-card-title>
        
        <mat-card-content>
            <form enctype="multipart/form-data" #contratto="ngForm" (ngSubmit)="postTable(contratto)">
                
                <mat-form-field appearance="fill">
                  <mat-label>Codice Appartamento</mat-label>
                  <mat-select ngModel="" name="codice_appartamento">
                    <mat-option *ngFor="let codice of codice_appartamento" [value]="codice" [textContent]="codice"></mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>CF Cliente</mat-label>
                  <mat-select ngModel="" name="CF_cliente">
                    <mat-option *ngFor="let cf of cf_cliente" [value]="cf" [textContent]="cf"></mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Canone Mensile</mat-label>
                  <input ngModel="" min="200" class="example-right-align" type="number" name="canone_mensile" matInput required>
                  <span matPrefix>€&nbsp;</span>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Data Soggiorno</mat-label>
                  <input ngModel="" #date="ngModel" [(ngModel)]="item.date"
                  (dateInput)="item.date = $event.value.format('YYYY-MM-DD')" 
                  name="durata_soggiorno" matInput 
                  [matDatepicker]="picker">
                  <mat-hint>DD/MM/YYYY</mat-hint>
                  <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>N Persone</mat-label>
                  <input ngModel="" type="number" class="example-right-align" name="n_persone" matInput required>
                  <input ngModel="true" name="contratto" hidden>
                </mat-form-field>
                <p>
                    <button mat-raised-button type="submit">Invio</button>
                </p>
            </form>
        </mat-card-content>
    </mat-card>
</p>
</mat-tab>

<mat-tab label="Modifica">
  <mat-card>
    <mat-card-title>Palazzo</mat-card-title>
    <form #editPalaz="ngForm" enctype="multipart/form-data" (ngSubmit)="editThisRow(editPalaz)">
      <mat-form-field appearance="fill">
        <mat-label>Codice Palazzo</mat-label>
        <mat-select ngModel="" name="codice_palazzo">
          <mat-option *ngFor="let id of palazzoList" [value]="id" [innerText]="id"></mat-option>
        </mat-select>
        <input type="text" ngModel="true" name="elimina" hidden>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>N Palazzo</mat-label>
        <input ngModel="" class="example-right-align" type="number" name="n_palazzo" matInput required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Piano</mat-label>
        <input ngModel="" class="example-right-align" type="number" name="piano" matInput required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>N Appartamenti</mat-label>
        <input ngModel="" class="example-right-align" type="number" name="n_appartamenti" matInput required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Indirizzo</mat-label>
        <input ngModel="" name="indirizzo" matInput required>
        <input ngModel="true" name="palazzo" hidden>
      </mat-form-field>
      <mat-card-content>
        <button type="submit" mat-raised-button>Modifica</button>
      </mat-card-content>
    </form>
  </mat-card>
</mat-tab>
<mat-tab label="Eliminazione" *ngIf="amministratoreList.length>0 && clienteList.length>0">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Palazzo">
      <app-palazzo-delete></app-palazzo-delete>
    </mat-tab>
    <mat-tab label="Appartamento">
      <app-appartamento-delete></app-appartamento-delete>
    </mat-tab>
    <mat-tab label="Amministratore">
      <app-amministratore-delete></app-amministratore-delete>
    </mat-tab>
    <mat-tab label="Contratto">
      <app-contratto-delete></app-contratto-delete>
    </mat-tab>
    <mat-tab label="Cliente">
      <app-cliente-delete></app-cliente-delete>
    </mat-tab>
  </mat-tab-group>
 
</mat-tab>
</mat-tab-group>