<mat-tab-group>
    <mat-tab label="Palazzo">
        <app-palazzo></app-palazzo>
    </mat-tab>
    
    <mat-tab label="Appartamento">
        <app-appartamenti #app></app-appartamenti>
    </mat-tab>
    
    <mat-tab label="Amministratore">
        <app-amministratore #amm></app-amministratore>
    </mat-tab>
    
    <mat-tab label="Contratto">
        <app-contratto></app-contratto>
    </mat-tab>

    <mat-tab label="Clienti">
        <app-cliente></app-cliente>
    </mat-tab>
    <mat-tab label="Cerca">
        <mat-card *ngIf="app.appartamento !== undefined">
            <app-cerca-amm></app-cerca-amm>
        </mat-card>
        <mat-card *ngIf="amm.amministratore !== undefined">
            <app-num-palaz></app-num-palaz>
        </mat-card>
    </mat-tab>
    
</mat-tab-group>

