<mat-tab-group>
    <mat-tab label="Palazzo">
        <app-palazzo></app-palazzo>
    </mat-tab>
    
    <mat-tab label="Appartamento">
        <app-appartamenti></app-appartamenti>
    </mat-tab>
    
    <mat-tab label="Amministratore">
        <app-amministratore></app-amministratore>
    </mat-tab>
    
    <mat-tab label="Contratto">
        <app-contratto></app-contratto>
    </mat-tab>
    <mat-tab label="Cerca">
        <app-cerca-amm></app-cerca-amm>
    </mat-tab>
    
</mat-tab-group>

