
<mat-card>
    <mat-card-title>Palazzo</mat-card-title>
    <mat-card-content>
        <mat-card>
            <table mat-table [dataSource]="palazzo">
                <ng-container matColumnDef="codice_palazzo">
                    <th mat-header-cell *matHeaderCellDef>Codice Palazzo</th>
                    <td mat-cell *matCellDef="let element"> {{element.codice_palazzo}} </td>
                </ng-container>
                <ng-container matColumnDef="n_palazzo">
                    <th mat-header-cell *matHeaderCellDef>N Palazzo</th>
                    <td mat-cell *matCellDef="let element"> {{element.n_palazzo}} </td>
                </ng-container>
                <ng-container matColumnDef="piano">
                    <th mat-header-cell *matHeaderCellDef>Piano</th>
                    <td mat-cell *matCellDef="let element"> {{element.piano}} </td>
                </ng-container>
                <ng-container matColumnDef="n_appartamenti">
                    <th mat-header-cell *matHeaderCellDef>N Appartamenti</th>
                    <td mat-cell *matCellDef="let element"> {{element.n_appartamenti}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="colonne_palazzo"></tr>
                <tr mat-row *matRowDef="let row; columns: colonne_palazzo;"></tr>
            </table>
        </mat-card>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>Appartamenti</mat-card-title>
    <mat-card-content>
        <mat-card>
            <table mat-table [dataSource]="appartamento">
                <ng-container matColumnDef="codice_appartamento">
                    <th mat-header-cell *matHeaderCellDef>Codice Appartamento</th>
                    <td mat-cell *matCellDef="let element"> {{element.codice_appartamento}} </td>
                </ng-container>
                <ng-container matColumnDef="codice_palazzo">
                    <th mat-header-cell *matHeaderCellDef>Codice Palazzo</th>
                    <td mat-cell *matCellDef="let element"> {{element.codice_palazzo}} </td>
                </ng-container>
                <ng-container matColumnDef="n_locale">
                    <th mat-header-cell *matHeaderCellDef>N Locale</th>
                    <td mat-cell *matCellDef="let element"> {{element.n_locale}} </td>
                </ng-container>
                <ng-container matColumnDef="n_sala">
                    <th mat-header-cell *matHeaderCellDef>N Sala</th>
                    <td mat-cell *matCellDef="let element"> {{element.n_sala}} </td>
                </ng-container>
                <ng-container matColumnDef="metratura">
                    <th mat-header-cell *matHeaderCellDef>Metratura</th>
                    <td mat-cell *matCellDef="let element"> {{element.metratura}} </td>
                </ng-container>
                <ng-container matColumnDef="costo">
                    <th mat-header-cell *matHeaderCellDef>Costo</th>
                    <td mat-cell *matCellDef="let element"> {{element.costo}}€ </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="colonne_appartamento"></tr>
                <tr mat-row *matRowDef="let row; columns: colonne_appartamento;"></tr>
            </table>
        </mat-card>
    </mat-card-content>
</mat-card>