<mat-card>
    <form #amm="ngForm" enctype="multipart/form-data" (ngSubmit)="cercaAmm(amm)">
        <mat-form-field appearance="fill">
            <mat-label>Numero piani palazzo</mat-label>
            <input ngModel="0" min="0" type="number" name="piani" matInput>
            
            <input ngModel="true" name="cercaPalaz" hidden>
        </mat-form-field>
        <button mat-raised-button type="submit">Cerca</button>
    </form>

            <mat-card *ngIf="array.length>0">
                <table mat-table [dataSource]="array">
                    <ng-container matColumnDef="codice_appartamento">
                        <th mat-header-cell *matHeaderCellDef>Codice Appartamento</th>
                        <td mat-cell *matCellDef="let element"> {{element.codice_appartamento}} </td>
                    </ng-container>
                    <ng-container matColumnDef="codice_palazzo">
                        <th mat-header-cell *matHeaderCellDef>Codice Palazzo</th>
                        <td mat-cell *matCellDef="let element"> {{element.codice_palazzo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="n_locale">
                        <th mat-header-cell *matHeaderCellDef>N Locale</th>
                        <td mat-cell *matCellDef="let element"> {{element.n_locale}} </td>
                    </ng-container>
                    <ng-container matColumnDef="n_sala">
                        <th mat-header-cell *matHeaderCellDef>N Sala</th>
                        <td mat-cell *matCellDef="let element"> {{element.n_sala}} </td>
                    </ng-container>
                    <ng-container matColumnDef="metratura">
                        <th mat-header-cell *matHeaderCellDef>Metratura (metri quadri)</th>
                        <td mat-cell *matCellDef="let element"> {{element.metratura}}</td>
                    </ng-container>
                    <ng-container matColumnDef="costo">
                        <th mat-header-cell *matHeaderCellDef>Costo</th>
                        <td mat-cell *matCellDef="let element"> {{element.costo}} € </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="colonne_appartamento"></tr>
                    <tr mat-row *matRowDef="let row; columns: colonne_appartamento;"></tr>
                </table>

    </mat-card>
</mat-card>