<mat-card>
    <mat-card-title>Appartamenti</mat-card-title>
    <mat-card-content>
        <mat-card>
            <table mat-table [dataSource]="appartamento">
                <ng-container matColumnDef="codice_appartamento">
                    <th mat-header-cell *matHeaderCellDef>Codice Appartamento</th>
                    <td mat-cell *matCellDef="let element" [textContent]="element.codice_appartamento"></td>
                </ng-container>
                <ng-container matColumnDef="codice_palazzo">
                    <th mat-header-cell *matHeaderCellDef>Codice Palazzo</th>
                    <td mat-cell *matCellDef="let element" [textContent]="element.codice_palazzo"></td>
                </ng-container>
                <ng-container matColumnDef="n_locale">
                    <th mat-header-cell *matHeaderCellDef>N Locale</th>
                    <td mat-cell *matCellDef="let element" [textContent]="element.n_locale"></td>
                </ng-container>
                <ng-container matColumnDef="n_sala">
                    <th mat-header-cell *matHeaderCellDef>N Sala</th>
                    <td mat-cell *matCellDef="let element" [textContent]="element.n_sala"></td>
                </ng-container>
                <ng-container matColumnDef="metratura">
                    <th mat-header-cell *matHeaderCellDef>Metratura (metri quadri)</th>
                    <td mat-cell *matCellDef="let element" [textContent]="element.metratura"></td>
                </ng-container>
                <ng-container matColumnDef="costo">
                    <th mat-header-cell *matHeaderCellDef>Costo</th>
                    <td mat-cell *matCellDef="let element" [textContent]="'€ ' + element.costo"></td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <form enctype="multipart/form-data" #delCliente="ngForm" (ngSubmit)="delete(delCliente)">
                            <input [ngModel]="element.codice_appartamento" name="id" hidden>
                            <input ngModel="appartamento" name="tipoIm" hidden>
                            <input [ngModel]="true" name="elimina" hidden>
                            <button type="submit" mat-raised-button>Elimina</button>
                        </form>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="colonne_appartamento"></tr>
                <tr mat-row *matRowDef="let row; columns: colonne_appartamento;"></tr>
            </table>
        </mat-card>
    </mat-card-content>
</mat-card>